%li.li-clickable.folder{data: {href: category_folder_path(category, folder)}}
  %h3.two-lanes-caption= folder.name
  .folder-image
    = image_tag item_picture(folder)
  -#%ul
  -#  - first_three(folder.products).each do |product|
  -#    %li= link_to product.name, polymorphic_path([category, folder, product])
  -#  - if folder.products.count > 3
  -#    %li= link_to t('.show_all'), category_folder_path(category, folder)
