%li.li-clickable.category{data: {href: category_folder_path(category, folder)}}
  %h3= folder.name
  .category-image
    = image_tag item_picture(folder)
  %ul
    - first_four(folder.products).each do |product|
      %li= link_to product.name, polymorphic_path([category, folder, product])
    - if folder.products.count > 4
      %li= link_to t('.show_all'), category_folder_path(category, folder)





    -#.product-container-1.clean
-#  .name-container
-#    = folder.name
-#  .image-container-1.clean
-#    = link_to polymorphic_path([category, folder]) do
-#      = image_tag item_picture(folder)
-#  .description-container.clean
-#    = item_description(folder)
-#  .price-container.clean
-#  .clear