- items.each do |item|
  .product-container-1.clean
    .image-container-1.clean
      = link_to polymorphic_path([])
      = image_tag item_picture(item)
    .description-container.clean
      = item_description(item)
    .price-container.clean
    .clear