-#- categories.each do |category|
-#  = link_to category.name, category_path(category)

-#= render 'shared/items_clean', items: categories

- categories.each do |item|
  .product-container-1.clean
    .image-container-1.clean
      = link_to polymorphic_path([item]) do
        = image_tag item_picture(item)
    .description-container.clean
      = item_description(item)
    .price-container.clean
    .clear