body {

  .navigation {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;

    .user-navigation {
      position: relative;
      display: inline;
      float: left;
    }

    .admin-navigation {
      position: relative;
      float: right;

      ul {
        list-style: none;
        display: inline;
      }
    }
  }
}