%li.li-clickable.category{data: {href: category_path(category)}}
  %h3= category.name
  .category-image
    = image_tag category_picture(category)
  %ul
    - first_four(category.folders).each do |folder|
      %li= link_to folder.name, polymorphic_path([category, folder])
    - if category.folders.count > 4
      %li= link_to t('.show_all'), category_path(category)



-#.product-container-1
-#  .name-container
-#    = category.name
-#  .image-container-1.clean
-#    = link_to polymorphic_path([category]) do
-#      = image_tag category_picture(category)
-#  .description-container.clean
-#    = item_description(category)
-#  .price-container.clean
-#  .clear