%li.li-clickable.category{data: {href: category_path(category)}}
  %h3.two-lanes-caption= category.name
  .category-image
    = image_tag category_picture(category)
  %ul
    - first_three(category.folders).each do |folder|
      %li= link_to folder.name, polymorphic_path([category, folder])
    - if category.folders.count > 3
      %li= link_to t('.show_all'), category_path(category)